cycler
fonttools
gffpandas
joblib
kiwisolver
kneed
logomaker
matplotlib
mplcursors
narwhals
numpy
packaging
pandas
patsy
pillow
plotly
pyparsing
pysam
python-dateutil
pytz
scikit-learn
scipy
setuptools
six
statsmodels
threadpoolctl
tzdata